#### 1. Выберите заказчиков из Германии, Франции и Мадрида, выведите их название, страну и адрес.

In [ ]:
query = """
SELECT CustomerName, Country, Address FROM Customers
WHERE (Country IN ('Germany', 'France') OR City = 'Madrid'); 
"""

#### 2. Выберите топ 3 страны по количеству заказчиков, выведите их названия и количество записей.

In [ ]:
query = """
SELECT Country, count(Country) as cnt FROM Customers
GROUP BY Country
ORDER BY cnt DESC
LIMIT 3; 
"""

#### 3. Выберите перевозчика, который отправил 10-й по времени заказ, выведите его название, и дату отправления.

In [ ]:
query = """
SELECT
		  ShipperName
		, OrderDate
        , ROW_NUMBER() OVER(ORDER BY OrderDate) as rnum
FROM Orders
JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
WHERE rnum = 10
"""

#### 4. Выберите самый дорогой заказ, выведите список товаров с их ценами.

In [ ]:
query = """
SELECT
		p.ProductName,
        p.price,
        od.Quantity,
		p.price * od.Quantity AS total_cost 
FROM Products p
JOIN OrderDetails od ON od.ProductID = p.ProductID
where OrderID = (
                  SELECT OrderID FROM (
                                        SELECT    od.OrderID, 
                                                  (p.price * od.Quantity) AS cost
                                        FROM OrderDetails od
                                        JOIN Products p ON od.ProductID = p.ProductID
                                        GROUP BY od.OrderID
                                        ORDER BY cost DESC
                                        LIMIT 1
                                        ) a
                                        )

"""

#### 5. Какой товар больше всего заказывали по количеству единиц товара, выведите его название и количество единиц в каждом из заказов.

In [ ]:
query = """
SELECT
		od.OrderID,
        p.ProductName,
        od.Quantity
FROM Products p
JOIN OrderDetails od ON od.ProductID = p.ProductID
where p.ProductName = (
                  SELECT ProductName FROM (
                                        SELECT    p.ProductName, 
                                                  max(od.Quantity) AS max_
                                        FROM OrderDetails od
                                        JOIN Products p ON od.ProductID = p.ProductID
                                        GROUP BY od.ProductID
                                        ORDER BY max_ DESC
                                        LIMIT 1
                                        ) a
                                        )
"""

#### 6. Выведите топ 5 поставщиков по количеству заказов, выведите их названия, страну, контактное лицо и телефон.

In [ ]:
query = """
SELECT
		SupplierName,
        Country,
        ContactName,
        Phone,
        COUNT(od.OrderID) AS cnt
FROM Suppliers s
JOIN Products p ON p.SupplierID = s.SupplierID
JOIN OrderDetails od ON od.ProductID = p.ProductID
JOIN Orders o ON o.OrderID = od.OrderID
GROUP BY SupplierName,Country,ContactName, Phone
ORDER BY cnt DESC
LIMIT 5
"""

#### 7. Какую категорию товаров заказывали больше всего по стоимости в Бразилии, выведите страну, название категории и сумму.

In [ ]:
query = """
SELECT
        cus.Country,
        cat.CategoryName,
        SUM(p.price * od.Quantity) AS sum_
FROM Products p
JOIN Categories cat ON cat.CategoryID = p.CategoryID
JOIN OrderDetails od ON od.ProductID = p.ProductID
JOIN Orders o ON o.orderID = od.OrderID
JOIN Customers cus ON cus.CustomerID = o.CustomerID
WHERE 1=1
AND Country = 'Brazil'
GROUP BY cat.CategoryID
ORDER BY sum_ DESC
LIMIT 1
"""

#### 8. Какая разница в стоимости между самым дорогим и самым дешевым заказом из США.

In [ ]:
query = """
SELECT (SELECT
                SUM(p.price * od.Quantity) AS sum_
        FROM Products p
        JOIN OrderDetails od ON od.ProductID = p.ProductID
        JOIN Orders o ON o.orderID = od.OrderID
        GROUP BY o.orderID
        ORDER BY sum_ DESC
        LIMIT 1)
 - 
        (SELECT
                SUM(p.price * od.Quantity) AS sum_
        FROM Products p
        JOIN OrderDetails od ON od.ProductID = p.ProductID
        JOIN Orders o ON o.orderID = od.OrderID
        GROUP BY o.orderID
        ORDER BY sum_ 
        LIMIT 1) 
"""

#### 9. Выведите количество заказов у каждого их трех самых молодых сотрудников, а также имя и фамилию во второй колонке.

In [ ]:
query = """
SELECT 
		COUNT(o.orderID) AS cnt,
        FirstName,
        LastName
FROM Employees e
JOIN Orders o ON o.EmployeeID = e.EmployeeID
WHERE BirthDate IN (SELECT BirthDate FROM Employees
                    ORDER BY 1 DESC
                    LIMIT 3
                    )
GROUP BY o.EmployeeID  
"""

#### 10. Сколько банок крабового мяса всего было заказано.

In [ ]:
query = """
SELECT SUM(Quantity) 
FROM Products p
JOIN OrderDetails od ON od.ProductID = p.ProductID
WHERE 1=1
AND ProductName = 'Boston Crab Meat'
GROUP BY p.ProductID
"""